:root {
    --linen: #F0DFAB; 
    --almost-pure: #FFFCFC; 
    --cold-coffee: #c98a3b; 
    --sour-cherry: #f10879; 
}
* {
    background-color: var(--almost-pure);
    font-size: 16px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#custom-jumbotron{
    background: linear-gradient(var(--linen), var(--cold-coffee));  
    height: 220px; 
    border-bottom: 2px solid brown;
    padding-top: 30px;
}

.jumbotron-heading{
    text-align: center;
    color:var(--sour-cherry); 
    font-size: 4em;
    background-color: transparent;
    font-weight: bold;
}

#custom-jumbotron p{
    color: var(--almost-pure); 
    background-color: var(--linen);
    text-align: center;
    font-size: 1.5em;
    font-size: bold;
    background-color: transparent;
}

#custom-jumbotron>hr{
    border-top: 3px solid var(--cold-coffee);  
}

.custom-card { 
    border: 2px solid var(--cold-coffee); 
    left:1%; 
}

.custom-card-body{
    background: linear-gradient(var(--linen), var(--cold-coffee));
}

.custom-card-title{
    background-color: transparent;
    color: var(--sour-cherry); 
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
}

.custom-card-text{
    background-color: var(--linen);
    padding: 5px; 
}

.add-project-btn {
    background-color: var(--sour-cherry); 
    text-align:center; 
    font-size: 1.5em; 
}

.add-project-btn:hover{
    cursor: pointer;
    background-color: var(--almost-pure); 
    color:var(--sour-cherry); 
    border:2px solid var(--sour-cherry); 
}

.custom-table {
    position:absolute;  
    width: 75%;  
    right:1%; 
    top: 260px; 
    border:2px solid var(--cold-coffee); 
}

.table-head th{
    text-align:center; 
    color:var(--sour-cherry); 
    background: linear-gradient(var(--linen), var(--cold-coffee));
}

.custom-table th{
    color:var(--sour-cherry); 
}

.custom-table {
    text-align:center; 
}

.custom-table td:hover {
    background-color: var(--linen); 
}

form {
    width: 50%; 
    margin: 0 auto; 
    position:absolute; 
    top:25%; 
    left: 25%;  
    z-index:1; 
    border:3px solid var(--cold-coffee); 
    box-shadow: 2px 2px 10px black; 
    padding: 20px; 
    display:none; 
}

.custom-form input {
    width:100%; 
    margin:10px 0;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:2px;   
}
.custom-form label {
    color: var(--sour-cherry); 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 18px;
}

.custom-form select {
    margin-top:10px; 
    margin-bottom:10px; 
    width:100%; 
    border-radius: 5px;
    font-size: 18px;
    padding:2px; 
}

.submit-btn {
    background-color: var(--sour-cherry); 
    color:var(--almost-pure); 
}

.submit-btn:hover {
    background-color: var(--almost-pure); 
    color:var(--sour-cherry); 
    border:2px solid var(--sour-cherry); 
}

@media only screen and (max-width: 1100px) {
    .custom-table {
        position:static; 
        width: 100%; 
    }

    .custom-card {
        position:static; 
        margin: 10px auto; 
        width: 100%; 
    }
}